body{
    font-family: cursive
}

h1{color: red;
    font-weight: 1000
}

h2{color: coral;
    font-weight: 1000}
.header-content{
    text-decoration: italic
    
}

.body-content{
    text-decoration: italic
}
#top {
    font-family:monospace;
    text-decoration: underline
    }
#contact {
    font-family: cursive;
    text-decoration: underline
}
h1{
    color:rgb(100,0,0);
    font-weight: bold
}

h2{
    color: rgb(200,0,50);
    border: 3px solid pink;
    border-radius: 10px;
    text-align: center
}

.img{ 
    text-align: center;
    border: 5px dotted pink;
    
}


